.homeText{
    text-align: center;
    color: black;
    font-size: large;
    font-weight: 400;
}

.titleChange{
    color: red;
    font-size: larger;
    font-weight: 500;
    font-style: italic;
}

.pageTitle{
    margin: 20px;
}